/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    color: black;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Estilos específicos para los autos */
  .banner {
    background-image: url('banner.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  .banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .btn {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #cc3700;
  }
  
  .featured-models {
    background-color: #f4f4f4;
    padding: 50px 0;
  }
  
  .featured-models h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .car-list {
    display: flex;
    justify-content: space-between;
  }
  
  .car {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .car img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .car h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .car p {
    font-size: 16px;
  }
  
  